services:
  mysql:
    image: mariadb:12
    hostname: mysql
    container_name: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql
    networks:
      - slurm-network
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/127.0.0.1/3306'"]
      interval: 5s
      timeout: 5s
      retries: 24
      start_period: 10s

  slurmdbd:
    image: ghcr.io/ascii-supply-networks/dagster-slurm/slurm-docker-cluster:${IMAGE_TAG:-25-11-2-1}
    build:
      context: services/slurm
      args:
        SLURM_TAG: ${SLURM_TAG:-slurm-25-11-2-1}
    command: ["slurmdbd"]
    container_name: slurmdbd
    hostname: slurmdbd
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - var_log_slurm:/var/log/slurm
    shm_size: "10gb"
    expose:
      - "6819"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - slurm-network
    healthcheck:
      test: [
        "CMD-SHELL",
        "echo 'SELECT 1' | mysql -hmysql -uslurm -ppassword >/dev/null 2>&1 && ss -ltn | grep -q ':6819'",
      ]
      interval: 5s
      timeout: 5s
      retries: 24
      start_period: 10s

  slurmctld:
    image: ghcr.io/ascii-supply-networks/dagster-slurm/slurm-docker-cluster:${IMAGE_TAG:-25-11-2-1}
    command: ["slurmctld"]
    container_name: slurmctld
    hostname: slurmctld
    privileged: true
    shm_size: "10gb"
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - ./z_state/data_and_logs:/data_and_logs
      - home_dirs:/home
    expose:
      - "6817"
    depends_on:
      slurmdbd:
        condition: service_healthy
    networks:
      - slurm-network
    ports:
      - 2223:22
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "scontrol ping | grep -iq 'is up' && ss -ltn | grep -q ':22 '",
          #   "scontrol ping | grep -iq 'is up' && sshpass -p 'submitter' ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -p 22 submitter@127.0.0.1 'echo ssh_ok' >/dev/null 2>&1"
        ]
      interval: 10s
      timeout: 5s
      retries: 12
      start_period: 15s

  c1:
    image: ghcr.io/ascii-supply-networks/dagster-slurm/slurm-docker-cluster:${IMAGE_TAG:-25-11-2-1}
    command: ["slurmd"]
    hostname: c1
    container_name: c1
    privileged: true
    shm_size: "10gb"
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - ./z_state/data_and_logs:/data_and_logs
      - home_dirs:/home
    expose:
      - "6818"
      - "6379" # Ray GCS port
      - "8265" # Ray dashboard
      - "10001" # Ray client server
    depends_on:
      slurmctld:
        condition: service_started
    networks:
      - slurm-network

  c2:
    image: ghcr.io/ascii-supply-networks/dagster-slurm/slurm-docker-cluster:${IMAGE_TAG:-25-11-2-1}
    command: ["slurmd"]
    hostname: c2
    container_name: c2
    privileged: true
    shm_size: "10gb"
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
      - ./z_state/data_and_logs:/data_and_logs
      - home_dirs:/home
    expose:
      - "6818"
      - "6379" # Ray GCS port
      - "8265" # Ray dashboard
      - "10001" # Ray client server
    depends_on:
      slurmctld:
        condition: service_started
    networks:
      - slurm-network

volumes:
  etc_munge:
  etc_slurm:
  slurm_jobdir:
  var_lib_mysql:
  var_log_slurm:
  home_dirs:

networks:
  slurm-network:
    driver: bridge
